<?xml version="1.0"?>

<model>
  <name>Apriltag Tank</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Tim Hansen</name>
    <email>t.hansen@tuhh.de</email>
  </author>

  <description>
    A tank with apriltags on the ground. This model is based on the real world tank used at TUHH.
    The location of the april tags and their respective IDs can be found at https://github.com/HippoCampusRobotics/mu_auv_localization.
  </description>

</model>
