<launch>
    <!--
        This starts mavros and px4_sitl in for loop like "for ID in range($(arg ID), $(arg num_vehicles))"
        Note that "num_vehicles" is not necessarily the number of vehicles but the maximum vehicle ID minus 1
    -->

    <arg name="idx" default="0" />
    <arg name="num_vehicles" />
    <arg name="vehicles" default="$(eval ' '.join(['uuv' + str(idx).zfill(2) for idx in range(arg('num_vehicles'))]))" />


    <group if="$(eval arg('idx') &#60; arg('num_vehicles'))" >

        <arg name="vehicle_name" value="$(eval arg('vehicles').split()[arg('idx')])" />
        <arg name="ID" value="$(eval int(arg('vehicle_name')[-2:]))" />

        <!-- use the group tag to launch nodes in a namespace -->
        <group ns="$(arg vehicle_name)">
            <!-- MAVROS and vehicle configs -->
            <arg name="bind_port" value="$(eval 14540 + arg('ID'))" />
            <arg name="remote_port" value="$(eval 14580 + arg('ID'))" />
            <arg name="fcu_url" default="udp://:$(arg bind_port)@localhost:$(arg remote_port)" />
            <!-- PX4 SITL and vehicle spawn -->
            <include file="$(find hippocampus_sim)/launch/inc_run_px4_sitl.launch">
                <arg name="ID" value="$(arg ID)" />
            </include>
            <!-- MAVROS -->
            <include file="$(find mavros)/launch/px4.launch">
                <arg name="fcu_url" value="$(arg fcu_url)" />
                <arg name="gcs_url" value="" />
                <arg name="tgt_system" value="$(eval 1 + arg('ID'))" />
                <arg name="tgt_component" value="1" />
            </include>
            <node pkg="hippocampus_common" type="auto_offboard_node" name="auto_offboard" output="screen" />
            <include file="$(find hippocampus_common)/launch/node_tf_publisher.launch" >
                <arg name="vehicle_name" value="$(arg vehicle_name)" />
                <arg name="vehicle_type" value="hippocampus" />
            </include>
        </group>
    
        <include file="$(find hippocampus_sim)/launch/recursive_vehicle_complete.launch">
            <arg name="idx" value="$(eval arg('idx') + 1)" />
            <arg name="num_vehicles" value="$(arg num_vehicles)" />
            <arg name="vehicles" value="$(arg vehicles)" />
        </include>

    </group>

</launch>
