<launch>
    <!-- vehicle name (= namespace vehicle specific nodes will be launched in) -->
    <arg name="gui" default="true" />
    <arg name="verbose" default="true" />
    <arg name="rviz" default="false" />    

    <!-- start gazebo with the specified world -->
    <include file="$(find hippocampus_sim)/launch/inc_gazebo_base.launch">
        <arg name="gui" value="$(arg gui)" />
        <arg name="verbose" value="$(arg verbose)" />
    </include>

    <include file="$(find hippocampus_sim)/launch/inc_spawn_apriltag_tank.launch" />

    <group if="$(arg rviz)" >
        <arg name="rviz_config" default="$(find hippocampus_sim)/config/default.rviz" />
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" output="screen" />    
    </group>

</launch>
