<launch>
  <arg name="vehicle_name" default="uuv00" />

  <include file="$(find hippocampus_sim)/launch/top_single_vehicle_complete.launch">
    <arg name="vehicle_name" value="$(arg vehicle_name)" />
  </include>

  <!-- launch robot specific nodes in namespace -->
  <group ns="$(arg vehicle_name)">
    <!-- path description, path follower, depth control, attitude mixer -->
    <include file="$(find control)/launch/path_tracking.launch">
      <arg name="use_ground_truth" value="true" />
      <arg name="use_external_controller" value="false" />
    </include>

    <!-- add additional vehicle specific nodes here, for example:  -->
    <!-- Convert orientation from quaternion to roll, pitch, yaw for visualization/debugging-->
    <include file="$(find hippocampus_common)/launch/inc_quat_to_rpy.launch" />

  </group>
</launch>
